{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<div class="container">
  <div class="row justify-content-center align-items-center mt-5">
    <div class="col-lg-6">
      <img src="{% static 'images/restaurant_about.jpg' %}" alt="Radission Team" class="img-fluid mb-4">
    </div>
    <div class="col-lg-6">
      <h1 class="display-4 mb-4 text-center">Welcome to Radission</h1>
      <p class="lead text-justify">
        Welcome to Radission, an oasis of culinary excellence nestled in the vibrant heart of heroacademy. Here, we merge our boundless passion for food with an unwavering commitment to delivering exceptional dining experiences. More than just a restaurant, Radission is a sanctuary for those who relish the art of fine dining.
      </p>
      <p class="lead text-justify">
        Our journey began with a vision to redefine gastronomy, to transcend mere sustenance and elevate dining to an unforgettable celebration of flavors. Each dish we craft is a symphony of creativity and tradition, meticulously prepared by our talented chefs using locally sourced, seasonal ingredients. Every plate that leaves our kitchen is a testament to our dedication to culinary craftsmanship.
      </p>
      <p class="lead text-justify">
        But Radission is more than just exquisite cuisine. It's an immersive experience—a harmonious blend of warm ambiance, attentive service, and thoughtful details that transform every visit into a cherished memory. Whether you're seeking an intimate dinner, commemorating a special occasion, or simply indulging in a culinary escape, our team is dedicated to ensuring your experience is nothing short of extraordinary.
      </p>
      <p class="lead text-justify">
        Join us as we invite you to embark on a culinary journey, where each dish tells a story and every ingredient is infused with passion. Thank you for choosing to be part of the Radission adventure. We eagerly anticipate the opportunity to share the table with you and create timeless memories together. Welcome to a world where every meal is a masterpiece, and every visit is an occasion to savor.
      </p>
    </div>
  </div>
</div>
{% endblock %}
