{% extends 'base.html' %}
{% block content %}
    <div class="d-flex flex-wrap justify-content-center">
        {% for val in meals %}
        <div class="card shadow-lg" style="width: 18rem; margin: 20px">
            <img src="{{val.strMealThumb}}" class="card-img-top h-50" alt="meal image">
            <div class="card-body">
              <h5 class="card-title">{{val.strMeal}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

        {% endfor %}
    </div>
{% endblock %}
